
:host {
    ion-content {
        /*--background: linear-gradient(135deg, var(--ion-color-dark), var(--ion-color-primary));*/
        --ion-background-color: #8B0000;
        
    }
}


.paz {
    position: relative;
    z-index: 10;
}

.img-login{
    width:150px;
    margin:0;
}

